body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  height: 320px;
  width: 320px;
  display: block;
  margin-top: -100px;
}

.image-resize-mode {
  width: 110px;
  height: 110px;
  border-radius: 45px;
}

a,
button {
  transition: all 0.3s ease-in-out;
  outline: none !important;
}

a:focus,
a:hover {
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}

#page-loading-blocs-notifaction {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100000;
  background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
  width: 100%;
  clear: both;
  background: 50% 50% no-repeat;
  padding: 0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#bloc-5-cta h2 {
  margin-left: 15px;
  margin-right: 15px;
  color: white !important;
}

#bloc-5-cta .btn{
  margin-left: 20px;
  margin-right: 20px;
}

#bloc-3-what-i-do p {
  color: white !important;
}

.bloc .container {
  padding-left: 0;
  padding-right: 0;
}

.bloc-lg {
  padding: 80px 50px;
}

.bloc-md {
  padding: 50px;
}

#bloc-0 {
  width: 100%;
  height: 100px;
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  -o-background-size: auto !important;
  background-size: auto !important;
}

.bg-repeat {
  background: repeat;
}


.voffset {
  margin-top: 30px;
}

.voffset-lg {
  margin-top: 80px;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

#bloc-1-hero h1 {
  font-size: 32px;
}

.navbar-brand img {
  height: 200px;
  margin: 0 5px 0 0;
  display: inline;
}

.navbar-brand img[src$=svg] {
  min-width: 100px;
}

.navbar-header {
  width: 100%;
  height: 100px;
}

nav{
  display: flex;
  justify-content: space-between;
}

.navbar{
  margin: auto;
 padding: 15px;
}

.mg-md {
  margin-top: 10px;
  margin-bottom: 20px;
}

.mg-lg {
  margin-top: 10px;
  color: white !important;
}

.btn {
  margin: 0 5px 5px 0;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
}

.btn-rd {
  border-radius: 40px;
}

.btn-clean {
  border: 1px solid rgba(0, 0, 0, .08);
  border-bottom-color: rgba(0, 0, 0, .1);
  text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.icon-md {
  font-size: 30px !important;
}

.icon-md:focus,
.icon-md:hover {
  color: white;
}

.icon-lg {
  font-size: 60px !important;
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
  border-radius: 0;
}

.panel-rd {
  border-radius: 30px;
}

.panel-rd .panel-heading {
  border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
  border-radius: 0 0 29px 29px;
}

.form-control {
  border-color: rgba(0, 0, 0, .1);
  box-shadow: none;
}

.scrollToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  z-index: 500;
  transition: all .3s ease-in-out;
}

.scrollToTop span {
  margin-top: 6px;
}

.showScrollTop {
  font-size: 14px;
  opacity: 1;
}

a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;
}

a[data-lightbox]:hover::before {
  content: "+";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  font-size: 32px;
  width: 50px;
  height: 50px;
 margin-left: -25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 100;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
  opacity: 0.6;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

#lightbox-modal {
  display: flex;
  align-items: center;
}

#lightbox-modal .modal-dialog {
  width: 90%;
  max-width: 900px;
  margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
  max-height: 90vh;
  margin: 0 auto;
}

.lightbox-caption {
  padding: 20px;
  color: #FFF;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 5px;
}

.close-lightbox {
  color: #FFF;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  background: rgba(0, 0, 0, .5);
  border: none;
  line-height: 30px;
  padding: 0 9px 5px;
  opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
  opacity: 1.0;
  color: #FFF;
}

.next-lightbox,
.prev-lightbox {
  font-size: 20px;
  color: rgba(255, 255, 255, .9);
  background: rgba(0, 0, 0, .5);
  transition: all .2s ease-in-out;
  position: absolute;
  top: 45%;
  z-index: 1;
  opacity: 0.4;
}

.next-lightbox {
  padding: 6px 8px 1px 13px;
  right: 25px;
}

.prev-lightbox {
  padding: 6px 13px 1px 10px;
  left: 25px;
}

.snapshot-lb .modal-body {
  padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
  padding: 0;
  color: rgba(0, 0, 0, .5);
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
li,
a {
  font-family: "helvetica";
  font-weight: 400;
  color: black !important;
  list-style-type: none;
}

.container {
  max-width: 1000px;
}

em,
p {
  font-size: 18px;
}

.tight-width-whitespace {
  max-width: 600px;
  margin: auto;
}

.h1 {
  font-size: 20px;
  font-family: "Open Sans";
}

.cta-hero {
  margin-top: 22px;
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 12px 28px 12px 28px;
  font-size: 16px;
  font-weight: 700;
}

.social {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

h2 {
  line-height: 1.4em;
}

h3 {
  color: black !important;
}

.med-width-whitespace {
  max-width: 800px;
  margin: auto auto auto auto;
  box-shadow: 0px 0px 0px #000000;
}

h1 {
  color: white !important;
}

h4 {
  color: black !important;
}

.icons {
  margin-bottom: 14px;
  margin-top: 24px;
}

.white {
  color: #FFFFFF!important;
}

.portfolio-thumb {
  margin-bottom: 24px;
  width: 280px !important;
  height: 300px !important;
}

.portfolio-row {
  margin-bottom: 44px;
  margin-top: 50px;
}

.avatar {
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.black-background {
  background-color: rgba(165, 147, 99, 0.7);
  padding: 40px;
}

.bold-link {
  font-weight: 900;
  text-decoration: underline!important;
}

.bgc-white {
  background-color: #ffffff;
}

.bgc-dark-slate-blue {
  background-color: #364577;
}

.bgc-atomic-tangerine {
  background-color: #F3976C;
}

.tc-white {
  color: white !important;
}

.btn-atomic-tangerine {
  background: #f3976c;
  color: black !important;
}

.btn-atomic-tangerine:hover {
  background: #c27956 !important;
  color: #ffffff !important;
}

.ltc-white {
  color: #FFFFFF!important;
}

.ltc-white:hover {
  color: #cccccc!important;
}

.ltc-atomic-tangerine {
  color: #F3976C!important;
}

.ltc-atomic-tangerine:hover {
  color: #c27956!important;
}

.icon-dark-slate-blue {
  color: #364577 !important;
  border-color: #364577 !important;
}

.bg-lines-h2-bg {
  background-image: url("img/lines-h2-bg.webp");
}

.bg-banniere {
  background-image: url("img/agence-la-panthere.webp");
}

.bg-presentation {
  background-image: url("img/image-de-presentation.webp");
}

@media screen and (min-width: 992px) {
  footer li {
    margin-left: -40px;
  }
}

@media (max-width: 1024px) {
  .bloc {
      padding-left: 20px;
      padding-right: 20px;
  }
  .bloc.full-width-bloc,
  .bloc-tile-2.full-width-bloc .container,
  .bloc-tile-3.full-width-bloc .container,
  .bloc-tile-4.full-width-bloc .container {
      padding-left: 0;
      padding-right: 0;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .navbar .nav {
      max-width: 80%
  }
  .nav-center.navbar .nav {
      max-width: 100%
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .b-parallax {
      background-attachment: scroll;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .b-parallax {
      background-attachment: scroll;
  }
}

@media (max-width: 991px) {
  .container {
      width: 100%;
  }

  .b-parallax {
      background-attachment: scroll;
  }

  .page-container,
  #hero-bloc {
    overflow-x: hidden;
    position: relative;
  }
}

  .bloc {
      padding-left: constant(safe-area-inset-left);
      padding-right: constant(safe-area-inset-right);
  }

  .bloc-group,
  .bloc-group .bloc {
      display: block;
      width: 100%;
  }

  .bloc-fill-screen .fill-bloc-top-edge,
  .bloc-fill-screen .fill-bloc-bottom-edge {
      padding: 0 20px;
      padding-left: constant(safe-area-inset-left);
      padding-right: constant(safe-area-inset-right);
  }
  
  footer li {
    margin-left: -30px;
}

@media (max-width: 767px) {

  .page2{
    padding:20px !important;
  }

  .page-container {
      overflow-x: hidden;
      position: relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  h1{
    font-size: 25px;
  }

  h2{
    font-size:20px;
  }

  h3{
    font-size: 18px;
  }

  h4{
    font-size: 16px;
    margin-bottom: 10px;
  }

  p,
  a,
  em{
    font-size: 15px;
  }

  .bloc {
      padding-left: 0;
      padding-right: 0;
  }

  .bloc-xxl,
  .bloc-xl,
  .bloc-lg {
      padding: 40px 0;
  }

  .bloc-sm,
  .bloc-md {
      padding-left: 0;
      padding-right: 0;
  }

  
  .voffset {
      margin-top: 5px;
  }
  .voffset-md {
      margin-top: 20px;
  }
  .voffset-lg {
      margin-top: 30px;
  }
  form {
      padding: 5px;
  }
  .close-lightbox {
      display: inline-block;
  }
  .blocsapp-device-iphone5 {
      background-size: 216px 425px;
      padding-top: 60px;
      width: 216px;
      height: 425px;
  }
  .blocsapp-device-iphone5 img {
      width: 180px;
      height: 320px;
  }

  .btn{
    display: block;
    margin: auto;
  }

  nav{
    display: flex;
    flex-direction: column;
  }

  .col-sm-6{	
    margin-top: 20px;	
  }	  
  .portfolio-thumb {	
    width: 85%;	  
    height: 280px;	  
    display: block;	      
    margin: auto;	      
  }

  .bloc-mob-center-text {
    text-align: center;
}
}

